.user{
    width: 300px;
    height: 700px;
    background-color: lightgray;
}

.img{
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 120px;
    left: 60px;
}

.info{
    margin-left: 60px;
    padding-top: 100px;
}